<img src='images/bootcamp_icon.png' height="100" width="100" style="float:left"><h1 style="display:inline-block">AI Bootcamp :Applied AI for Research</h1>
<img src='images/ju_logo.jpg' height="80" width="80" style="float:right">
<br><br><br><br><br>
<hr style="border-color:blue">
<div style="display:flex">
<h2 style="display:inline">Basics of python programming:
<img src='images/python_logo.jpg' height="30" width="30"></h2>
</div>

<hr>
<p style="width:80%;text-align:justify">
<b>Python</b> is a high-level, general-purpose, and interpreted programming language used in various sectors including machine learning, artificial intelligence, data analysis, web development, and many more. Python is known for its ease of use, powerful standard library, and dynamic semantics. It also has a large community of developers who keep on contributing towards its growth. The major focus behind creating it is making it easier for developers to read and understand, also reducing the lines of code.
</p>
<br>
<h3>Topics</h3>
<table style="border:1px solid blue;font-size:14px">
    <tr><td>
        <ul style="text-align:left">
        <li>Variables and basic input output</li>
        <li>Operators: Arthemetic, comparision, logical .</li>
        <li>Collection: List, tuple, dictionary</li>
        </ul></td>
        <td>
            <ul style="text-align:left">
            <li>Control Satatement: Conditional, loop</li>
            <li>Function</li>
            <li>File IO basics</li>
            </ul>
         </td></tr>
</table>

## 1. Input output

In [1]:
# Display output using print
print("Hello world")

Hello world

In [4]:
#Accepting input through input
name = input("please enter your name->")

print("Your name is:", name)

please enter your name->kebede
Your name is: kebede

## 2 Variable and data type

## Variable declaration
Variables names can contain `a-z`, `A-Z`, `0-9` and some special character as `_` but must always begin by a letter. By convention, variables names are smallcase. 

## Types
Variables are *weakly typed* in python which means that their type is deduced from the context: the initialization or the types of the variables used for its computation. Observe the following example.

In [12]:
a = 3
print(a,type(a),"\n____\n")

b = 3.14
print(b,type(b),"\n____\n")


c = False
print(c, type(c),"\n____\n")

d = [1,2,3]
print(d, type(d),"\n____\n")
e = (1,2,3,)
print(e, type(e),"\n____\n")
f = {"name":"kebede","age":30}
print(f, type(f),"\n____\n")

3 <class 'int'>
____

3.14 <class 'float'>
____

False <class 'bool'>
____

[1, 2, 3] <class 'list'>
____

(1, 2, 3) <class 'tuple'>
____

{'name': 'kebede', 'age': 30} <class 'dict'>
____

### Casting
This typing can lead to some variable having unwanted types, which can be resolved by *casting*

In [14]:
e = 10/3
print(e,type(e))
f = (10/3)/(10/3)
print(f,type(f))
f = int((10/3)/(10/3))  ## cating float into integer
print(f,type(f))

3.3333333333333335 <class 'float'>
1.0 <class 'float'>
1 <class 'int'>

## Operation on numbers

The usual operations are 
* Addition, Subtraction, Multiplication and Division with respecively `+`, `-`, `*` and `/`
* Exponent with `**`
* Modulo with `%`

In [19]:
print(7 * 3)

21

In [20]:
print(3/2)

1.5

In [21]:
print(2**10)

1024

In [23]:
print(8%3)

2

In [28]:
print(2+4*10-5/5)

41.0

## Relational and logical operators 
 
*  `>`, `>=` (greater, greater or equal), `<`, `<=` (smaller, smaller or equal) or (in, not in) membership `==` , `!=` (equality, different).
* logical operations `and`, `not`, `or`.


<br><b>NB: </b>The result of relational or logical operators is a boolean value (False or True)

In [29]:
print('2 > 1\t', 2 > 1)   
print('2 > 2\t', 2 > 2) 
print('2 >= 2\t',2 >= 2) 
print('2 == 2\t',2 == 2) 
print('2 == 2.0',2 == 2.0) 
print('2 != 1.9',2 != 1.9)

2 > 1	 True
2 > 2	 False
2 >= 2	 True
2 == 2	 True
2 == 2.0 True
2 != 1.9 True

In [30]:
print(True and False)
print(True or True)
print(not False)

False
True
True

## Lists 

Lists are the base element for sequences of variables in python, they are themselves a variable type. 
* The syntax to write them is `[ ... , ... ]`
* The types of the elements may not be all the same
* The indices begin at $0$ (`l[0]` is the first element of `l`)
* Lists can be nested (lists of lists of ...)


*Warning:* Another type called *tuple* with the syntax `( ... , ... )` exists in Python. It has almost the same structure than list to the notable exceptions that one cannot add or remove elements from a tuple. We will see them briefly later

In [31]:
l = [1, 2, 3, [4,8] , True , 2.3]
print(l, type(l))

[1, 2, 3, [4, 8], True, 2.3] <class 'list'>

In [32]:
print(l)
print(l[4:]) # l[4:] is l from the position 4 (included)
print(l[:5]) # l[:5] is l up to position 5 (excluded)
print(l[4:5]) # l[4:5] is l between 4 (included) and 5 (excluded) so just 4
print(l[1:6:2])  # l[1:6:2] is l between 1 (included) and 6 (excluded) by steps of 2 thus 1,3,5
print(l[::-1]) # reversed order
print(l[-1]) # last element

[1, 2, 3, [4, 8], True, 2.3]
[True, 2.3]
[1, 2, 3, [4, 8], True]
[True]
[2, [4, 8], 2.3]
[2.3, True, [4, 8], 3, 2, 1]
2.3

### Operations on lists 

One can add, insert, remove, count, or test if a element is in a list easily

In [34]:
l.append(10)   # Add an element to l (the list is not copied, it is actually l that is modified)
print(l)

[1, 2, 3, [4, 8], True, 2.3, 10]

In [35]:
l.insert(1,'u')   # Insert an element at position 1 in l (the list is not copied, it is actually l that is modified)
print(l)

[1, 'u', 2, 3, [4, 8], True, 2.3, 10]

In [36]:
l.remove(10) # Remove the first element 10 of l 
print(l)

[1, 'u', 2, 3, [4, 8], True, 2.3]

In [40]:
print(len(l)) # length of a list
print(2 in l)  # test if 2 is in l : mebership operation

7
True

## Tuples


* Tuples are similar to list but are created with `(...,...)` or simply comas. <b style="color:red">They cannot be changed once created.</b>

In [41]:
t = (1,'b',876876.908)
print(t,type(t))
print(t[0])

(1, 'b', 876876.908) <class 'tuple'>
1

In [45]:
u= (1,3,4)
try:
    u[1] = 2
except Exception as error: 
    print(error, ",tuple cannot be modified")

'tuple' object does not support item assignment ,tuple cannot be modified

## Dictionary

Dictionaries are aimed at storing values of the form *key-value* with the syntax `{key1 : value1, ...}`

This type is often used as a return type in librairies.

In [46]:
d = {"param1" : 1.0, "param2" : True, "param3" : "red"}
print(d,type(d))

{'param1': 1.0, 'param2': True, 'param3': 'red'} <class 'dict'>

In [48]:
d["param1"] = 2.4
print(d)

{'param1': 2.4, 'param2': True, 'param3': 'red'}







# 3 Control Statement (Conditional(branching) and Loop statements)

## Conditional Statements
### If, Elif, Else 

In Python, the formulation for branching is the  `if:` condition (mind the `:`) followed by an indentation of *one tab* that represents what is executed if the condition is true. **The indentation is primordial and at the core of Python.**

In [50]:
statement = True
if statement:
    print("The statement is true")
else:
    print("The statement is false")

The statement is true

In [52]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
elif statement2:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

In [53]:
if statement1:
    if statement2: # Bad indentation!
    #print("both statement1 and statement2 are True") # Uncommenting Would cause an error
        print("here it is ok")
    print("after the previous line, here also")

In [57]:
#odd or even
number = 7
if number%2==0:
    print("Even")
else:
    print("Odd")

Odd

### ***Excercise
Write a python program that can print letter grade of a student from a given total mark
Use this table as a reffernce
<table>
<tr><td>>=90</td><td>>=85</td><td>>=80</td><td>>=75</td><td>>=70</td><td>>=65</td><td>>=60</td><td>>=50</td><td><50</td></tr>
<tr><td>A+</td><td>A</td><td>A-</td><td>B+</td><td>B</td><td>B-</td><td>C</td><td>C-</td><td>F</td></tr>
</table>

In [55]:
## Solution here

## Loop
Looping statement are used to perform part of a program iteratively for number of times
for loop, while loop
In python loops are most often used when dealing with collection variables (List, tuple, dictionary). 
They are also usefull to travers a folder surinf file IO operations

### For loop

The syntax of `for` loops is `for x in something:` followed by an indentation of one tab which represents what will be executed. 

The `something` above can be of different nature: list, dictionary, etc.

In [1]:
for x in [1, 2, 3]:
    print(x)

1
2
3

In [2]:
sentence = ""
for word in ["Python", "for", "data", "Science"]:
    sentence = sentence + word + " "
print(sentence)

Python for data Science

A useful function is <b>range</b> which generated sequences of numbers that can be used in loops.

In [3]:
print("Range (from 0) to 4 (excluded) ")
for x in range(4): 
    print(x)   

print("Range from 2 (included) to 6 (excluded) ")
for x in range(2,6): 
    print(x)

print("Range from 1 (included) to 12 (excluded) by steps of 3 ")
for x in range(1,12,3): 
    print(x)

Range (from 0) to 4 (excluded)
0
1
2
3
Range from 2 (included) to 6 (excluded)
2
3
4
5
Range from 1 (included) to 12 (excluded) by steps of 3
1
4
7
10


<b>If the index is needed along with the value, the function `enumerate` is useful.</b>

In [4]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

### While loop

Similarly to `for` loops, the syntax is`while condition:` followed by an indentation of one tab which represents what will be executed.

In [5]:
i = 0

while i<5:
    print(i)
    i+=1

0
1
2
3
4

# 3 Functions


In Python, a function is defined as  `def function_name(function_arguments):` followed by an indentation representing what is inside the function. (No return arguments are provided a priori)

In [9]:
def fun0():
    print("Hello from function")

fun0()

Hello from function

If the function expected to return a value use `return`

In [17]:
def square_of_two():
    return(2 ** 2)


res = square_of_two()
print(res)

4

## Arguments

It is possible to 
* Give the arguments in any order provided that you write the corresponding argument variable name
* Set defaults values to variables so that they become optional

In [20]:
def square_of_x(x):
    return x**2
res = square_of_x(12)
print(res)

144

In [23]:
def fancy_power(x, p=2):

    return(x**p)

In [24]:
print(fancy_power(5))
print(fancy_power(5,p=3))

25
125

# 5- Reading and writing files



`open` returns a file object, and is most commonly used with two arguments: `open(filename, mode)`.

The first argument is a string containing the filename. The second argument is another string containing a few characters describing the way in which the file will be used (optional, 'r' will be assumed if it’s omitted.):
* 'r' when the file will only be read
* 'w' for only writing (an existing file with the same name will be erased)
* 'a' opens the file for appending; any data written to the file is automatically added to the end

In [31]:
f = open('test.txt', 'w')
print(f)

<_io.TextIOWrapper name='test.txt' mode='w' encoding='cp1252'>

In [33]:
f.write("This is a test\n")
f.write("This is a second test")

21

In [34]:
f.close()

Warning: For the file to be actually written and being able to be opened and modified again without mistakes, it is primordial to close the file handle with f.close()

f.read() will read an entire file and put the pointer at the end.

In [35]:
f = open('test.txt', 'r')
f.read()

'This is a test\nThis is a test\nThis is a second test'

In [36]:
f.readline()

''

The end of the file has be reached so the command returns ''. 

To get to the top, use  `f.seek(offset, from_what)`. The position is computed from adding `offset` to a reference point; the reference point is selected by the `from_what` argument. A `from_what` value of 0 measures from the beginning of the file, 1 uses the current file position, and 2 uses the end of the file as the reference point. from_what can be omitted and defaults to 0, using the beginning of the file as the reference point. Thus `f.seek(0)` goes to the top.

In [37]:
f.seek(0)
f.readline()

'This is a test\n'

For reading lines from a file, you can loop over the file object. This is memory efficient, fast, and leads to simple code:

In [38]:
f.seek(0)
for line in f:
    print(line)

f.close()

This is a test

This is a test

This is a second test

<hr style="border:1px double yellow">
<h1>Execrcises</h1>

Exercise 1: Odd or Even

Check if this number is odd or even. Optionnaly, handle bad inputs (character, float, signs, etc)

In [42]:
##write the solution here

Exercise 2: Fibonacci

The Fibonacci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13. Write a function that generate a given number of elements of the Fibonacci sequence.

In [43]:
## write the solution here

**Exercise 3:
    If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

    Find the sum of all the multiples of 3 or 5 below 1000.

In [44]:
## write the solution here

<img src='images/bootcamp_icon.png' height="100" width="100" style="float:left"><h1 style="display:inline-block">AI Bootcamp :Applied AI for Research</h1><br>
<i>Basics of Python programming</i><br>
<tt>Author: Mizanu Zelalem</tt>